apipkg==1.4
coverage==4.4.2
execnet==1.5.0
mccabe==0.6.1
numpy==1.13.3
pandas==0.21.0
pep8==1.7.1
py==1.4.34
pytest==3.2.3
pytest-cache==1.0
pytest-cov==2.5.1
pytest-mccabe==0.1
pytest-pep8==1.0.6
python-dateutil==2.6.1
pytz==2017.3
six==1.11.0
